.browsePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browsePageTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.pageTitle{
    margin: 10px;
}


.catButtons{
    margin-top: 5px;
}
  
.btnsBrowse{
    background:rgb(77, 163, 244);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 4px;
    font-size: 11.5pt;
}

.card{
    cursor: pointer;
    margin: 30px;
    width: 220px;
}

.greyLine {
    border: 0;
    height: 5px;
    width: 100%;
    border: 0;
    height: 1px;
    background: rgb(203, 207, 210);
    margin: 30px;
}


.itemList  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sqOne sqTwo sqThree"
      "sqFour sqFive sqSix"
      "sqSeven sqEight sqNine";
  }
  


