.browsePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.browsePageTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.pageTitle {
  margin: 10px;
}
.catButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  all: unset;
  color: blue;
  border: none;
  cursor: pointer;
}
.btns {
  background: rgba(33, 141, 244);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 7px;
  margin: 3px;
}
.itemList {
  height: 50vh;
}
.card {
  cursor: pointer;
  margin: 30px;
}
.greyLine {
  border: 0;
  height: 5px;
  width: 100%;
  border: 0;
  height: 1px;
  background: rgb(203, 207, 210);
  margin: 30px;
}
