  .visible {
    color: black;
  }
  
  .invisible{
    color: transparent;
    background-color: transparent;
    border: 0;
  }
  
  .reqGone {
      color: black;
  }

  .reqVis{
    background-color: transparent;
    border-style: none;
    color: transparent;
    border: 0;
  }


  .reqDropDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .borrowDrop{
    background: rgba(33,141,244,1);
    cursor: pointer;

  }

  .reqUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hideUI{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;

    background-color: transparent;

    border-style: none;
    color: transparent;
    opacity: 0;
    border: 0;

  }

  .detailButton {
    background:rgba(33,141,244);
    border: none;
    border-radius: 6px;
    color: white;
    opacity: 75%;
    padding: 7px;
    margin: 3px;
  }
  
