 .detailsPage{
   padding-right: 12px;
   padding-left: 12px;
   display: flex;
   flex-direction: column;
 }

 .normalDisplay{
   display: flex;
   flex-direction: column;
 }

 .detailsContainer{
   width: 50%;
   height: 100%;
   margin-right: 0;
   margin-left: 0;
 }

 .reqDropDown{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  border-top: 1px solid lightgrey;

}
 

 .detailsPhoto{
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .visible {
    color: black;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
  }
  .invisible{
    color: transparent;
    background-color: transparent;
    border: 0;
  }
  .reqGone {
      color: black;
      border-radius: 10px;
      width: 200px;
      background-color: rgb(32,137,240);
      color: white;
      width: 100%;
  }
  .reqVis{
    background-color: transparent;
    border-style: none;
    color: transparent;
    border: 0;
  }

  .responseMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
  }
 
  .borrowDrop{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:rgb(32,137,240);
    cursor:pointer;
    font-size:17px;
    text-decoration:none;
    margin-top: 20px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 8px 1px #e0e0e0;
    width: 490px;
  }

  .reqUI input {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: rgb(226, 229, 231);
    margin: 5px;
    width: 500px;
    height: 50px;
  }
  .hideUI{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
    border-style: none;
    color: transparent;
    opacity: 0;
    border: 0;
  }
  

.requestButton {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	background-color: rgb(32,137,240);
	color:#ffffff;
	border-radius: 30px;
	cursor:pointer;
	font-size:17px;
  text-decoration:none;
  margin-top: 20px;
  margin-bottom: 5px;
  
}

.avail {
  padding: 15px;
  background: lightgrey;
  width: 100px;
  color: white;
  border-radius: 10px;
}


.uiDisplayButtons {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 2px;
  border-radius: 20px;
  width: 100%;

}



.adminUIButtons{
  margin-left: auto;
  margin-right: 20px;
}

.backBtn{
  background-color: rgb(32,137,240);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color:white;
}

.adminBtn{
  background-color: rgb(32,137,240);
  border-radius: 20px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color:white;
  
}



