body{
    background: rgb(16,17,20);
    background: linear-gradient(0deg, rgba(16,17,20,1) 0%, rgba(32,34,40,1) 100%);
    color: white;
}

/* body{
    background: rgb(33,141,244);
    background: linear-gradient(180deg, rgba(33,141,244,1) 0%, rgba(17,78,188,1) 100%);
    color: white;
} */

.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;

    
 }

 .object{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


 }
 

 
 .welcome{
    display: flex;
    font-size: 1.85rem;
    font-family: 'sybarite', serif !important;
    color: white;
 }
 

 img {
    display: flex;
    width: 25%;
    height: 25;

}

.footer{
    width: 100%;
    position:absolute;
    bottom:0;
    width:100%;
}

/* svg{
    display: block;
} */

